.svn
.vs
.DS_Store
.idea
Library
Temp
obj
Logs
UserSettings
*.csproj
*.sln
*.userprefs
Assets/Gizmos
Assets/Gizmos.meta
Assets/CommonTools
Assets/CommonTools.meta
Assets/Behavior Designer
Assets/Behavior Designer.meta
